[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-clojure"]
	path = vim/bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/capybara"]
	path = vim/bundle/capybara
	url = https://github.com/asux/vim-capybara.git
[submodule "vim/bundle/jquery"]
	path = vim/bundle/jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/rvm"]
	path = vim/bundle/rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/openscad"]
	path = vim/bundle/openscad
	url = https://github.com/rantenki/vim-openscad.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
